{% extends 'base.html' %}
{% load static %}

{% block title %} Página principal {% endblock %} 

{% block main %}


<div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
        <ul class="list-group">
            {% for person in persons %}
                <li class="list-group-item "> 
                    <div class="row">
                        <div class="col-4">
                            <p >{{person}} </p>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'person_update' person.id %}" class="btn btn-sm btn-primary">Editar</a> 
                        </div>
                        <div class="col-4">
                            <a href="{% url 'person_delete' person.id %}" class="btn btn-sm btn-danger">Deletar</a>
                        </div>
                    </div>
                </li> 
                {% empty %}
                <li class="list-group-item "> 
                    <p >Não existem clientes cadastrados... </p>
                </li> 
            {% endfor %}
        </ul>
        
        {% if persons|length > 0 %}
            {% if persons|length == 1 %}
                <p>Existe {{persons|length}} pessoa cadastrada</p>
            {% else %}
                <p>Existem {{persons|length}} pessoas cadastradas</p>
            {% endif %}
        {% endif %}

        <a href="{% url 'person_new' %}" class="btn btn-info">Novo Cliente</a>
    </div>
    <div class="col-3">
        <a href="{% url 'my_logout' %}" class="btn btn-danger">Sair</a>
    </div>
  </div>


{% endblock %}