<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>{% block title %}  {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light d-flex justify-content-center">
        <a class="navbar-brand " href="#">
            Controle de Clientes
        </a>
    </nav>

    <div class="container p-5 bg-secondary">
        <div class="">
            {% block main %}

            {% endblock %}
        </div>
    </div>


    <footer class="footer">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>